{% extends 'base.jinja' %}

{% block page_title %}Add Post{% endblock %}

{% block title %}Add Post for {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
<form action="/add-post/{{ user.id }}" method="POST">
  <label>Title
    <input type="text" name="title" required>
  </label>
  <br>
  <label>Content
    <textarea type="text" name="content" rows="4" cols="50" required>
    </textarea>
  </label>
  <a class="btn btn-primary">Cancel</a>
  <button class="btn btn-success">Add</button>
</form>
{% endblock %}