{% extends 'base.jinja' %}

{% block page_title %}Edit User{% endblock %}

{% block title %}Edit User{% endblock %}

{% block content %}
<form action='/edit-user/{{ user.id }}' method="POST">
  <label>First name
    <input type="text" name="first_name" value="{{ user.first_name }}" required>
  </label>
  <label>Last name
    <input type="text" name="last_name" value="{{ user.last_name }}" required>
  </label>
  <label>Image URL
    <input type="url" name="image_url" value="{{ user.image_url }}">
  </label>
  <a class="btn btn-outline-primary" href="/">Cancel</a>
  <button class="btn btn-success">Save</button>
</form>
{% endblock %}